.project-title {
    display: flex;
    justify-content: center;
}

.title-text {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-decoration: underline;
}

.project-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 2rem;
    margin: 10px auto;
    margin-bottom: 80px;
    max-width: 1200px;
    justify-content: center;
}

.project-card {
    perspective: 1000px;
    width: 100%;
    max-width: 350px;
    margin: auto;
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 330px;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

.project-card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: #3b5cc9;
}

.card-front img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-front .card-content {
    padding: 1rem;
    text-align: center;
    
}

.card-front h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
}

.card-back {
    background: #2651dd;
    color: #fff;
    transform: rotateY(180deg);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-back p {
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
    width: 85%;
}

.project-btn {
    padding: 0.75rem 1.5rem;
    background-color: #53f9ff;
    color: #112240;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.project-btn:hover {
    background-color: #52e1c2;
}

/* Responsive */
@media (max-width: 768px) {
    .project-section {
        grid-template-columns: 1fr;
    }
}